@forward "charts-table";
@forward "fallback-table";
@forward "workout-table";
@forward "log-table";
@forward "target";
@forward "progress";
@forward "achievement";
@forward "mobile";
@forward "protocol";
